.skills-card-in{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    font-weight: bold;
}

.skills-component{
    height: 83vh;
    background-color: rgb(45, 107, 161);
    padding-top: 8vh;
}
