.education-card{
    border: 2px;
    background-color:gray;
    padding:1%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.school-name{
    margin-top: 1.5%;
    font-weight: bolder;
    font-size: x-large;

}

.standard{
    font-size: large;
}

.year{
    font-size: large;
}

.grade{
    margin-top: 1%;
    margin-bottom: 1.5%;
}